
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;    
} 

.clock{
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.time{
    color: #fff;
    font-size: 2em;
}